*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    background-color:white;
    padding: 20px;
    height: auto;
    max-width: auto;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    margin: 0px;
}
.container{
display: flex;
justify-content: space-between;
padding: 30px;
}
.image{
    width: auto;
}
img{
    width:  600px;
    height: 700px;
    border-radius: 50px;
    padding-left: 100px;
 }
.biography{
    padding: 20px;
    margin: 10px ;
    text-align: left;
    padding-top: 200px;
    width: 50%;
        padding-right: 100px;

}
h1{
    font-size: 3.5em;
    padding-bottom: 50px;
}
span{
    color: blueviolet;
}
h2{
    font-size: 40px;
    padding-bottom: 50px;
}
p{
    font-size: 18px;
    padding-bottom: 20px;
}
button{
    font-size: 1em;
    background-color: blueviolet;
    color: white;
    font-weight: 500;
    margin-top: 10px;
    border: 2px solid blueviolet;
    border-radius: 10px;
    padding: 15px;
}
button:hover{
    background-color:  black;
    color: white;
    font-weight: 500;
    border: 2px solid black ;
    transition: 0.3s;  
    font-weight: 900;
}